.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

html {
  font-family: monospace;
  font-size: 18px;
  color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #fff;
}

h1 {
  font-size: 3.5em;
}

body,
html {
  margin: 0;
  background: #000;
}

html {
  padding: 0;
}

body {
  padding: 2em;
}

