._75161010 .hello,._75161010 .world {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
._75161010 .hello,._75161010 .world {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
